@charset "utf-8";
/* CSS Document */

html {height:100%; background:#FFFFFF;}
body {
	color:#333;	
	font:11px Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;	
	behavior: url(http://infinitevisions.ws/$sitepreview/citsouth.com/safety/sms_gal3/csshover.htc);
}
/* Common Parts */
a {color: #333; text-decoration:underline;}
a:hover {text-decoration:none;}
br.clear {clear:both;}

#page-box	{
	width:950px;
	margin:0 auto;
} 
#loginPage	{
	margin:0 auto;
}
#loginPage a	{
	color: #FFFFFF;
}
#login	{
	float: right;
	color: #FFFFFF;
}
#login a	{
	color: #FFFFFF;
}
#mainNav	{
	float: left;
}
#quicksearch	{
	float: right;
	width: 200px;
	margin-right: 45px;
}
.quicksearchtext	{
	background:url(http://infinitevisions.ws/$sitepreview/citsouth.com/safety/sms_ehd3/smal_images/searchTextfields.gif) no-repeat center top;
	width: 197px;
	height: 20px;
	padding-left: 5px;
	padding-top: 2px;
}
.quicksearchbttn	{
	margin-left: 50px;
}			
		
#copyright	{
	padding: 20px 0;
	text-align: center;
	font-size: 10px;
	
}	
/* Login Page Styles */
.loginTextfield	{
	background:url(http://infinitevisions.ws/$sitepreview/citsouth.com/safety/sms_ehd3/smal_images/loginTextfields.gif);
	width: 240px;
	height: 20px;
	padding-left: 5px;
	padding-top: 2px;
}
/* Nav Styles */
#nav_div {
    margin: 0 auto;
    width: 43em;
    text-align: left;
    clear: both;
}
#nav_menu, #nav_menu ul {
    float: left;
    list-style: none;
    line-height: 1;
    background: white;
    font-weight: bold;
    margin: 0 0 1em 0;
    border: 1px solid white;
    padding: 0.25em 2em;
}
#nav_menu a {
    display: block;
    width: 11em;
    text-decoration: none;
    color: black;
    padding: 0.25em 1em;
    border: 0px solid white;
}
#nav_menu li {
    float: left;
    padding: 0;
    width: 10em;
    border: 1px solid white;
}
#nav_menu li ul {
    position: absolute;
    left: -999em;
    height: auto;
    width: 14.4em;
    w\idth: 10em;
    font-weight: normal;
    border: 1px solid black;
    margin: 0;
}
#nav_menu li li {
    padding-right: -1em;
    width: 10em
}
#nav_menu li ul a {
    width: 10em;
    w\idth: 10em;
    /* border: 1px solid red; */
    padding: 0.25em 0.0em;
}
#nav_menu li ul ul {
    margin: -1.75em 0 0 10em;
    width: 10em;
    /* border: 1px solid red; */
}
#nav_menu li ul ul li {
    padding-right: 0em;
    width: 10.5em;
}
#nav_menu li:hover ul ul, #nav_menu li:hover ul ul ul, #nav_menu li.sfhover ul ul, #nav_menu li.sfhover ul ul ul {
    left: -999em;
}
#nav_menu li:hover ul, #nav_menu li li:hover ul, #nav_menu li li li:hover ul, #nav_menu li.sfhover ul, #nav_menu li li.sfhover ul, #nav_menu li li li.sfhover ul {
    left: auto;
}
#nav_menu li:hover, #nav_menu li.sfhover {
    background: #f0f0f0;
    border: 1px solid black;
}	
	

