.button1 {
  text-decoration: none; 
  font-size : 11px;
  font-family: verdana,arial,helvetica;
  font-weight: bold;
  color: black;
  background-color: white;
  width: 100px;
}

.fonts1 {
  text-decoration: none; 
  font-size : 13px;
  font-family: verdana,arial,helvetica;
  font-weight: bold;
  color: black;
}

.fonts2 {
  text-decoration: none; 
  font-size : 11px;
  font-family: verdana,arial,helvetica;
  font-weight: normal;
  color: black;
}

.fonts3 {
  text-decoration: none; 
  font-size : 9px;
  font-family: verdana,arial,helvetica;
  font-weight: normal;
  color: black;
}

.fonts4 {
  text-decoration: none; 
  font-size : 10px;
  font-family: verdana,arial,helvetica;
  font-weight: bold;
  color: black;
}

.fonts5 {
  text-decoration: none; 
  font-size : 13px;
  font-family: verdana,arial,helvetica;
  font-weight: normal;
  color: black;
}


.input1 {
  text-decoration: none; 
  font-size : 12px;
  font-family: arial,helvetica,verdana,;
  font-weight: normal;
  color: blue;
  border: 1 solid black;
  width: 290px;
  padding-left: 3px;
}

.input2 {
  text-decoration: none; 
  font-size : 12px;
  font-family: arial,helvetica,verdana,;
  font-weight: normal;
  color: #537006;
  border: 1 solid black;
  width: 150px;
  padding-left: 3px;
}

.input3 {
  text-decoration: none; 
  font-size : 12px;
  font-family: arial,helvetica,verdana,;
  font-weight: normal;
  color: #537006;
  border: 1 solid black;
  width: 100px;
  padding-left: 3px;
}

.input4 {
  text-decoration: none; 
  font-size : 12px;
  font-family: arial,helvetica,verdana,;
  font-weight: normal;
  color: #537006;
  border: 1 solid black;
  width: 250px;
  padding-left: 3px;
}

.input5 {
  text-decoration: none; 
  font-size : 12px;
  font-family: arial,helvetica,verdana,;
  font-weight: normal;
  color: #537006;
  border: 1 solid black;
  width: 70px;
  padding-left: 3px;
}

.input6 {
  text-decoration: none; 
  font-size : 13px;
  font-family: arial,helvetica,verdana,;
  font-weight: normal;
  color: #537006;
  border: 1 solid black;
  width: 50px;
  padding-left: 3px;
}

.input7 {
  text-decoration: none; 
  font-size : 10px;
  font-family: arial,helvetica,verdana,;
  font-weight: normal;
  color: black;
  border: 1 solid black;
  width: 50px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: right;
  background-color: white;
}


.box1 {
  border-style: solid;
  border-color: #103173; 
  border-width: 1px;
}

.title {
  text-decoration: none; 
  font-size : 14px;
  font-family: verdana,arial,helvetica;
  font-weight: bold;
  color: black;
}

.label {
  text-decoration: none; 
  font-size : 12px;
  font-family: verdana,arial,helvetica;
  font-weight: normal;
  color: black;
}
.boldlabel {
  text-decoration: none; 
  font-size : 12px;
  font-family: verdana,arial,helvetica;
  font-weight: bold;
  color: black;
}
.requiredlabel {
  text-decoration: none; 
  font-size : 12px;
  font-family: verdana,arial,helvetica;
  font-weight: normal;
  color: red;
}

.coolBar {
  background: #103173;
  border-top: 1px solid buttonhighlight;
  border-left: 1px solid buttonhighlight;
  border-bottom: 1px solid buttonshadow;
  border-right: 1px solid buttonshadow;
  padding: 1px; font: menu;
  color: white;
}

.coolButton {
/*  border: 1px solid buttonface; */
  border: 1px solid white;
  padding: 1px;
  text-align: center;
  cursor: default;
  font-family: verdana,arial,helvetica;
  font-weight: bold;
  font-size : 10px;
  color: white;
  border-Left   = "1px solid buttonhighlight";
  border-Right  = "1px solid buttonshadow";
  border-Top    = "1px solid buttonhighlight";
  border-Bottom = "1px solid buttonshadow";
}


a.link1 { color: black; text-decoration: none; font: bold 9pt 'verdana', 'arial', 'helvetica'; }
a.link1:hover { color: lightblue; text-decoration: underline;}
a.link1:link { color: black; background: transparent; }
a.link1:visited { color: black; }
a.link1:active { color: lightblue; }


a.link2 { color: black; text-decoration: none; font: bold 9pt 'verdana', 'arial', 'helvetica'; }
a.link2:hover { color: red; text-decoration: underline;}
a.link2:link { color: black; background: transparent; }
a.link2:visited { color: black; }
a.link2:active { color: black; }

a.link3 { color: red; text-decoration: none; font: bold 9pt 'verdana', 'arial', 'helvetica'; }
a.link3:hover { color: red; text-decoration: underline;}
a.link3:link { color: red; background: transparent; }
a.link3:visited { color: red; }
a.link3:active { color: red; }

a.link4 { color: black; text-decoration: none; font: bold 9pt 'verdana', 'arial', 'helvetica'; }
a.link4:hover { color: black; text-decoration: underline;}
a.link4:link { color: black; background: transparent; }
a.link4:visited { color: black; }
a.link4:active { color: black; }

a.link5 { color: black; text-decoration: underline; font: bold 9pt 'verdana', 'arial', 'helvetica'; }
a.link5:hover { color: lightblue; text-decoration: underline;}
a.link5:link { color: black; background: transparent; }
a.link5:visited { color: black; }
a.link5:active { color: lightblue; }

a.linknormal { color: blue; text-decoration: underline; font: normal 12px 'verdana', 'arial', 'helvetica'; }
a.linknormal:hover { color: red; text-decoration: underline;}

