.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}
.header12ptOrngBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FF6600;
}
.contentBold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.copyRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
}
a.link9pxWhite{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 9px;
	color: #FFFFFF;}
	a.link9pxWhite:visited { color:#FFFFFF;}
	a.link9pxWhite:active { color:#FFFFFF;}
	a.link9pxWhite:hover { color:#E07020; text-decoration: none;
}
a.linkBreadCrumbGry{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #999999;}
	a.linkBreadCrumbGry:visited { color:#999999;}
	a.linkBreadCrumbGry:active { color:#999999;}
	a.linkBreadCrumbGry:hover { color:#999999; text-decoration: none;
}
.breadCrumbOrng {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF6600;
}
a.linkBreadCrumbOrng{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #FF6600;}
	a.linkBreadCrumbOrng:visited { color:#666666;}
	a.linkBreadCrumbOrng:active { color:#FF6600;}
	a.linkBreadCrumbOrng:hover { color:#999999; text-decoration: underline;
}
a.link11pxGry{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #333333;}
	a.link11pxGry:visited { color:#333333;}
	a.link11pxGry:active { color:#333333;}
	a.link11pxGry:hover { color:#FF6600; text-decoration: underline;
}
.breadCrumbGry {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999999;
}
.header12pxBlueBold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
}
a.linkBreadCrumbBlue{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #006699;}
	a.linkBreadCrumbBlue:visited { color:#006699;}
	a.linkBreadCrumbBlue:active { color:#006699;}
	a.linkBreadCrumbBlue:hover { color:#999999; text-decoration: underline;
}
.logInText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #537006;
}
a.linkRegister{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 9px;
	color: #666666;}
	a.linkRegister:visited { color:#666666;}
	a.linkRegister:active { color:#666666;}
	a.linkRegister:hover { color:#FF6600; text-decoration: none;
}
a.linkRegister2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 11px;
	color: #666666;}
	a.linkRegister2:visited { color:#666666;}
	a.linkRegister2:active { color:#666666;}
	a.linkRegister2:hover { color:#FF6600; text-decoration: none;
}
.logInTextDrkGry {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
}
.logInTextOrng {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FF6600;
}
.EventName {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #B9CD6A;
}
.header11pxBlueBold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
}
.header11pxOrngBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF6600;
}
a.linkTitles{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 11px;
	color: #333333;}
	a.linkTitles:visited { color:#333333;}
	a.linkTitles:active { color:#333333;}
	a.linkTitles:hover { color:#FF6600; text-decoration: none;
}

